*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navber{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color:white;
}

.logo{
    font-size: 30px;
    color: red;

}
.list-item ul{
display: flex;
align-items: center;
list-style: none;
font-size: 20px;
gap: 30px;
}

.home-bnb{
font-size: 17px;
display: flex;
gap: 20px;

}
.profile-icon{
    border: 2px solid #ddd;
    width:50px; 
    padding: 0px 0px 0px 15px ;
    border-radius: 7px ;
    
}


.navber-two{
    display: flex;
    justify-content: space-around;
    width: 70%;
    height: 50px;
    background-color: white;
    border-radius: 22px;
    border: 1px solid #ddd;
    margin: 10px 1px 7px 135px;
    padding: 7px 0px 0px 0px;
    box-shadow: 0px 0px 2px rgb(121, 116, 116);
    
}
.search-bar{
    display: flex;
    justify-content: center;
color: rgba(36, 32, 32, 0.404);
    padding: 2px 2px 43px 0px ;
}
.content{
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.images{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size:cover;
}



